body {
  background-color: white;
}

.phone {
  position: absolute;
  height: 720px;
  width: 400px;
  background: black;
  border-radius: 64px;
}

.homeButton {
  margin: 600px auto;
  width: 64px;
  height: 64px;
  border-radius: 48px;
  border: 10px rgba(255, 255, 255, 0.6) solid;
}

.score {
  text-align: center;
  width: 400px;
  height: 300px;
  color: white;
  font-size: 144px;
  position: absolute;
  top: 288px;
  left: 0;
}

.score span {
  font-size: 0.5em;
  color: rgb(160, 160, 160);
  position: relative;
  top: -50px;
}