body {
  background-color: white;
}

.phone {
  position: absolute;
  height: 720px;
  width: 400px;
  background: black;
  border-radius: 64px;
}

.homeButton {
  margin: 600px auto;
  width: 64px;
  height: 64px;
  border-radius: 48px;
  border: 10px rgba(255, 255, 255, 0.6) solid;
}

.score {
  text-align: center;
  width: 400px;
  color: white;
  font-size: 144px;
  position: absolute;
  top: 288px;
  left: 0;
}

.score span {
  font-size: 0.5em;
}

.glow {
  animation: glow 200ms ease-in;
}
.glow-negative {
  color: rgba(200, 0, 0, 0.5);
}
.glow-positive {
  color: rgba(0, 128, 0, 1);
}

@keyframes glow {
  from {
    box-shadow: 0 0 100px 100px currentColor;
  }
  to {
    box-shadow: none;
  }
}
