html {
  background: black;
  color: white;
  overflow: hidden;
}
.correctPosition {
  background: rgba(60, 192, 40, 0.4);
}

@width: 48vmin;
@height: @width*1.8;

.phone {
  position: absolute;
  top: 50%;
  left: 50%;
  height: @height;
  width: @width;
  margin-top: -@height/2;
  margin-left: -@width/2;
  background: black;
  border: @width/100 white solid;
  border-radius: @width/6.25;
}

/* Home button */
.phone::after {
  content: "";
  box-sizing: border-box;
  @homeButtonWidth: @width*0.185;
  position: absolute;
  top: 83.333%;
  left: 50%;
  margin-left: -@homeButtonWidth/2;
  width: @homeButtonWidth;
  height: @homeButtonWidth;
  border: @homeButtonWidth/7.4 rgb(160, 160, 160) solid;
  border-radius: 50%;
}

.score {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  color: white;
  font-family: Cambria, serif;
  font-size: @height/5;
  text-align: center;
  line-height: 1;
  white-space: pre;
}

.score::before {
  content: attr(data-score) "\A";
}

.score::after {
  content: attr(data-ticks);
  font-size: 0.5em;
  color: rgb(160, 160, 160);
  position: relative;
  top: -1em;
}

@glowTiming: 400ms ease-in;

.glow-negative {
  animation: glow-negative @glowTiming;
}
.glow-positive {
  animation: glow-positive @glowTiming;
}

@keyframes glow-negative {
  .glow-frames(rgba(200, 0, 0, 0.5));
}
@keyframes glow-positive {
  .glow-frames(rgba(0, 128, 0, 1));
}

.glow-frames(@color) {
  from {
    box-shadow: 0 0 @width/4 @width/4 @color;
  }
  to {
    box-shadow: none;
  }
}
