html {
  background-color: black;
}
.correctPosition {
  background-color: rgba(60, 192, 40, 0.4);
}

.phone {
  position: absolute;
  top: 400px;
  left: 300px;
  height: 720px;
  width: 400px;
  background: black;
  border: 4px white solid;
  border-radius: 64px;
}

.homeButton {
  margin: 600px auto;
  width: 64px;
  height: 64px;
  border-radius: 48px;
  border: 10px rgba(255, 255, 255, 0.6) solid;
}

.score {
  font-family: Cambria, serif;
  text-align: center;
  width: 400px;
  height: 300px;
  color: white;
  font-size: 144px;
  position: absolute;
  top: 288px;
  left: 0;
}

.score span {
  font-size: 0.5em;
  color: rgb(160, 160, 160);
  position: relative;
  top: -100px;
}

.glow-negative {
  animation: glow-negative 400ms ease-in;
}
.glow-positive {
  animation: glow-positive 400ms ease-in;
}

@keyframes glow-negative {
  from {
    box-shadow: 0 0 100px 100px rgba(200, 0, 0, 0.5);
  }
  to {
    box-shadow: none;
  }
}
@keyframes glow-positive {
  from {
    box-shadow: 0 0 100px 100px rgba(0, 128, 0, 1);
  }
  to {
    box-shadow: none;
  }
}
